* {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

body {
    background-color: #E5E5E5;
}

hearder {
    margin-left: 40px;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px ;
}

.inserir-texto {
    margin-top: 90px;
    background-color: #E5E5E5;
    border: none;
}

.mensagem {
    position: absolute;
    width: 350px;
    height: 600px;
    left: 800px;
    top: 40px;
    border-radius: 32px;
    background: #FFFFFF;
    background-image: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
    text-align: center;
    
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.encriptar {
    background-color: darkblue;
    color: #FFFFFF;
    padding: 24px;
    font-size: 16px;
    width: 328px;
    border-radius: 24px;
    height: 67px;
    gap: 8px;
    border: solid darkblue;
}

.desencriptar {
    margin-left: 30px;
    padding: 24px;
    font-size: 16px;
    width: 328px;
    border-radius: 24px;
    height: 67px;
    gap: 8px;
    border: solid darkblue;
    color: darkblue;
    background-color: #E5E5E5;
  


}

.informacao {
    font-size: 15px;
}